.toggle-item {
    height: 33px;
    box-shadow: inset 2px 3px 10px rgba(0, 0, 0, 0.15)
}

.content{
    background-color: #303030;
    color: rgba(250, 250, 250, 0.85);
}

.content-one{
    background-color: #303030;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content-two{
    background-color: #212121;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
